* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: hsl(240, 12%, 89%);
}

.home {
  align-self: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "title title"
    "players rules";
  justify-items: center;
  //align-items: center;
  height: 60vh;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 0 0 40px 10px;
  background: hsl(220, 90%, 80%);

  .title {
    grid-area: title;
  }
  .players {
    grid-area: players;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 75%;
    text-align: center;

    .title {
      h1 {
        margin-top: 2rem;
      }
    }

    .player {
      display: flex;
      flex-direction: column;
      height: 5rem;
      font-size: 18px;

      input {
        all: unset;
        font-size: 1rem;
        background: hsl(220, 35%, 90%);
        border: 2px solid hsl(220, 90%, 45%);
        border-radius: 5px;
        height: 2rem;
        margin: 0.3rem 0 5rem 0;
        padding: 0.2rem;
      }
    }

    .start-button {
      all: unset;
      align-self: center;
      font-size: 1.2rem;
      font-weight: bolder;
      background: hsl(220, 90%, 45%);
      color: hsl(220, 90%, 80%);
      border: 4px solid hsl(220, 90%, 45%);
      width: 50%;
      height: 1.2rem;
      border-radius: 5px;
      padding: 0.3rem 0.6rem;
      margin-top: 1.5rem;

      &:hover {
        background: hsl(220, 90%, 70%);
        color: hsl(220, 90%, 45%);
        cursor: pointer;
      }
    }

    .player1 {
      label {
        font-weight: bold;
        &::after {
          content: "";
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          background: red;
          margin-left: 0.5rem;
        }
      }
    }

    .player2 {
      label {
        font-weight: bold;
        &::after {
          content: "";
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 50%;
          background: yellow;
          margin-left: 0.5rem;
        }
      }
    }
    .set-timer {
      margin: 1rem 0 1rem 0;
      opacity: 0.5;
      label {
        font-size: 1.2rem;
      }
      input[type="text"] {
        all: unset;
        font-size: 1rem;
        background: hsl(220, 35%, 90%);
        border: 2px solid hsl(220, 90%, 45%);
        border-radius: 5px;
        max-width: 2rem;
        padding: 0.2rem;
      }
    }
  }
  .rules {
    grid-area: rules;
    overflow: hidden;
    p {
      text-align: justify;
      padding: 1rem;
      margin-right: 1rem;
    }
  }
}

.container {
  display: none;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;

  .win-screen {
    display: none;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 15%;
    max-width: 25%;
    background: hsl(220, 90%, 80%);
    border: 2px solid hsl(220, 27%, 31%);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 20px 0;
    z-index: 1;
    text-align: center;
    p {
      max-width: 80%;
      word-break: break-word;
      padding: 3px;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      //overflow: visible;
    }
    .win-screen-button {
      all: unset;
      width: 50%;
      height: 1.2rem;
      font-size: 1.2rem;
      font-weight: bolder;
      padding: 1rem;
      background: hsl(220, 90%, 45%);
      color: hsl(220, 90%, 80%);
      border: 4px solid hsl(220, 90%, 45%);
      border-radius: 5px;
      padding: 0.3rem 0.6rem;
      margin-top: 1rem;
      &:hover {
        cursor: pointer;
        background: hsl(220, 90%, 70%);
        color: hsl(220, 90%, 45%);
      }
    }
  }

  .player1-turn {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      background: red;
      border: 2px solid black;
      border-radius: 50%;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .player2-turn {
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      background: yellow;
      border: 2px solid black;
      border-radius: 50%;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .game-board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    //gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 5vh;
    width: calc(80vh * 7 / 6);
    height: 80vh;
    background-color: blue;
    box-shadow: 0 0 40px 10px;
    padding: 1.5rem;
    border-radius: 5px;

    .cell {
      background: white;
      width: 90%;
      height: 90%;
      border-radius: 50%;

      .indicator {
        display: inline;
        background: red;
        position: absolute;
        top: -17%;
        border-radius: 50%;
        //transition: all 1s ease;
      }
      .dropped {
        top: -17%;
      }
    }
  }
}
